/* 头部 */
.header-box{
	width: 100%;
	height: 48px;
	background-color: rgba(0,0,0,.05);
}
.header{
	width: 1200px;
	margin: 0 auto;
}
.header ul li{
	float: left;
	line-height: 48px;
	color: #191919;
	font-size: 16px;
	font-weight: 700;
	float: left;
	line-height: 48px;
	margin-right: 20px;
}
.header ul li img{
	margin: 13px 0 0;
	width: 108px;
	height: 24px;
}
/* 登录 */
.login-box{
	background-color: #FFFFFF;
}
.login{
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.login h1{
	padding: 100px 0 80px;
	line-height: 50px;
	text-align: center;
	font-size: 32px;
}
.login-left{
	float: left;
	width: 599px;
	border-right: 1px solid #CCCCCC;
}
.login-left div{
	background: #F7F7F7;
	border-radius: 8px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	margin: 30px auto;
}
.login-left div img{
	width: 130px;
	height: 130px;
	margin: 15px auto;
}
.login-left p{
	font-size: 12px;
	color: #838383;
	text-align: center;
}
.login-right{
	width:600px;
	float: left;
}
.login-right form{
	width: 360px;
	margin: 0 auto;
	position: relative;
}
.login-right div{
	width: 360px;
	margin-bottom: 30px;
	position: relative;
}
.login-right div input{
	padding-left:16px;
	padding-right: 40px;
	border: none;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.05);
	outline: 0;
	height: 48px;
	line-height: 48px;
	width: 304px;
	font-size: 18px;
	color: #191919;
}
.login-right div input[type="button"]{
	width: 360px;
	box-sizing: border-box;
	background-color: #FF989C;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 900;
	cursor: not-allowed;
	padding: 0;
	text-align: center;
}
.login-right div i{
	position: absolute;
	right: 16px;
	top: 10px;
}
.login-right div i:last-of-type{
	display: none;
}
.login-right div i img{
	width: 25px;
	height: 25px;
}
.login-right div:last-child ul{
	padding-left: 80px;
}
.login-right div:last-child ul li{
	float: left;
	margin-right: 10px;
}
.login-right div:last-child ul li a{
	color: #0062CC;
	padding-right: 10px;
	border-right: 1px solid #CCCCCC;
}
.login-right div:last-child ul li:last-child a{
	border: 0;
}
/* .login .login-right div:nth-child(3){
	position: absolute;
	top: 78px;
	left: 0;
	display: none;
} */
.login form div p{
	position: absolute;
	padding-left: 20px;
	top: 75px;
	left: 0;
	color: #FF0000;
}
.login .inputbor{
	border: 1px solid #CA141D;
}
/* 底部 */
.footer-box{
	background-color: rgba(0, 0, 0, 0.05);
}
.footer{
	width: 1200px;
	height: 110px;
	margin: 0 auto;
	overflow: hidden;
}
.footer ul{
	width: 528px;
	margin: 30px auto 10px;
}
.footer ul li{
	float: left;
	margin-right: 10px;
}
.footer ul li a{
	padding-right: 10px;
	border-right: 1px solid #CCCCCC;
}
.footer ul li:last-child a{
	border-right: 0;
}
.footer p{
	color: #CCCCCC;
	text-align: center;
}
.footer ul li a:hover{
	text-decoration: underline;
}
